/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar


/.idea
/node_modules
/bower_components
/zz
/.sass-cache

/app/Resources/public/scss/*
!/app/Resources/public/scss/app.scss
!/app/Resources/public/scss/_plaz_settings.scss
!/app/Resources/public/scss/_color.scss
!/app/Resources/public/scss/_icoonmoon.scss
!/app/Resources/public/scss/_owlcarousel.scss
/app/Resources/public/js/*
!/app/Resources/public/js/app.js
/app/Resources/public/css/*

/web/js
/web/css

/web/resources/*
!/web/resources/.gitkeep
