<footer class="footer">

    <div class="small-6 columns">
        <p class="text-left">
            <a href="#">
                {{ 'views.footer.title'|trans }}
            </a>
        </p>
    </div>

    <div class="small-6 columns">
        <p class="text-right">
            <a href="#">
                {{ 'views.footer.powered'|trans }}
            </a>
        </p>
    </div>

</footer>